Library
Logs
Temp
UserSettings
.vscode
/[Aa]ssets/AssetStoreTools*
/Assets/AssetStoreTools/
/assets/AssetStoreTools/
.vs/
obj
.vsconfig
*.csproj
TeamKenzVer1/Assets/AssetStoreTools/bird_fukurou_run.png
TeamKenzVer1/Assets/AssetStoreTools/bird_fukurou_run.png.meta
TeamKenzVer1/Assets/TextMesh Pro/
TeamKenzVer1/Assets/TextMesh Pro.meta
